*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
   
    width: 100%;
    height: 100%;
}
#container{
    background-color: azure;
   width:100%;
    
    margin: auto;
}
.search{
    width: 80%;
    margin:10px auto;
    display: flex;
    justify-content: space-between;


}
.search input{
    width: 45%;
    height: 35px;
    background-color: rgb(225, 235, 245);
    z-index: 1;
    border: none;
    text-align: center;
    color: white;
    font-size: 19px;
}
.slideshow{
width: 98%;
margin: auto;
margin-top: 30px;
display: flex;
align-items: center;
justify-content: space-evenly;
border-bottom: 1px solid rgb(196, 189, 189);

}
.slides>img{
    width: 100%;
    height: 170px;
    margin: auto;
    
}
.slides{
    display:flex;
    grid-template-columns: repeat(5,fr);
    width: 70%;
    overflow: hidden;
    margin: auto;
}
.brand{
    display: flex;
    width: 98%;
    margin: auto;
    background-color: white;
    padding: 15px 0;
    justify-content: space-evenly;
    
    
}
.brand div{
    width: 17%;
    height: 220px;
    display: grid;
    text-align: center;
   gap: 20px;
}
.brand div:hover{
    box-shadow: 2px 2px 3px 4px rgb(235, 220, 220);
    cursor: pointer;
}
.brand>div>img{
    width: 50%;
    height: 100px;
    margin: auto;
    box-shadow: 2px 0px 3px 2px rgb(212, 202, 202);
    border-radius: 10px;
}
 
#feat{
    color: #666;
    margin:30px 50px;
    font-size: 20px;
}
.bio{
    width: 100%;
    height: 50px;
    text-align: center;
    
}
.bio>h1{
    color: #666;
    margin: 30px 0;
    font-weight: 400;
}
.information{
    padding: 30px;
    color: #666;
    line-height: 25px;
}
.information>h2, .information>h3{
color: black;
margin: 15px 0;
}

